.footer {
  width: 100% ;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  padding: 10px;
  background-color: #00569D;
  color: white;
}

.footer::before {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F8BD1F;
}

.footer > p {
  font-size: 14px;
}
